.experience-list, .education-list {
    font-size: 2vh;
    text-align: left;
    list-style-type: disc;
    padding-left: 5.5em;
    padding-right: 5.5em;
    padding-bottom: 3em;
}

.experience-list li {
    margin-bottom: 0.5em;
}
