.profile-pic-container {
    padding-left: 6em;
    display: inline-block;
}


.profile-pic {
    width: 25vh;
    border: 1vh solid black;
}


.intro-text {
    text-indent: 2em;
    font-family: 'Titillium Web', sans-serif;
    font-style: italic;
}