@font-face {
    font-family: 'Titillium Web';
    src: url('/frontend/assets/fonts/TitilliumWeb-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/frontend/assets/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amatic SC';
    src: url('/frontend/assets/fonts/AmaticSC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(98, 134, 163);
    margin-top: 7.5vh;
   
    font-weight: normal;
    font-style: normal;
}

p {
    font-size: 2vh;
    text-align: left;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 1.5em;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 4em;
    text-align: left;
    margin-bottom: 5vh;
    font-style: bold;
    padding-left: 1.25em;
    font-family: 'Amatic SC', cursive;
}

h2 {
    font-size: 3em;
    text-align: left;
    padding-left: 1.5em;
    margin-bottom: 0.33em;
    font-family: 'Amatic SC', cursive;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5vh;
    background-color: #434246;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header img {
    height: 4vh;
    width: 4vh;
}

.header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header .horizontal-list a {
    color: #ffffff;
    font-family: 'Titillium Web', sans-serif;
}

.header .horizontal-list a:hover,
.header .horizontal-list a:focus {
    color: #0000FF;
}

.header .horizontal-list a:active {
    color: #e2ce1cbd;
}

.horizontal-list li {
    display: inline;
    margin-right: 1vh;
}
