<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>About Tyler Chapp</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/bio.css">
    <link rel="icon" type="image/x-icon" href="/static/icons/favicon.ico">
</head>
<body>
    <header class="header">
        <img src="/static/icons/logo.PNG" alt="Logo">
        <div class="nav-container">
            <nav>
                <ul class="horizontal-list">
                    <li><a href="/">Home</a></li>
                    <li><a href="/bio">Bio</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/resume">Resume</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="bio">
            <h2>About Me</h2>
            <p>Hi, I'm Tyler Chapp. I'm a full-stack developer with a background
            in semiconductor fabrication, cooking, and software. I'm all about 
            learning new things and understanding the tech world. Right now, I'm
            finishing up my Software Engineering degree and will graduate in 
            May 2025 from Northern Arizona University.
            </p>
            
            <h2>Professional Experience</h2>
            <ul class="experience-list">
                <li>Software Engineer (3 years): Full-stack development with various languagues and frameworks.</li>
                <li>Semiconductor Fabrication Technician (3 years): Worked in clean rooms and maintained process equipment at Intel.</li>
                <li>Chef (10 years): Managed kitchens balancing creativity with efficiency.</li>
            </ul>

            <h2>Education</h2>
            <ul class="education-list">
                <li>B.S. in Software Engineering, Northern Arizona University (Expected May 2025)</li>
            </ul>
            
            <h2>Background</h2>
            <p>I grew up in Phoenix, Arizona. My love for tech started early 
            with the internet and gaming, like the Nintendo 64. I taught myself 
            HTML and how to mod games. I've tried a lot of things before settling 
            on software engineering. My varied experiences help me think outside the box.
            </p>

            <h2>Interests</h2>
            <p>I'm into being outdoors, playing disc golf, and camping. I love 
            gaming, especially modding Minecraft and playing Dungeons and Dragons. 
            Music is a big part of my life, from playing instruments to making 
            electronic music and DJing. I also enjoy working on 3D printing and
            Raspberry Pi projects.
            </p>
        </section>
    </main>
</body>
</html>
