<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkers</title>
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="stylesheet" href="/static/css/checkers.css" />
</head>
<body>
    <header class="header">
        <img src="/static/icons/logo.PNG" alt="Logo">
        <div class="nav-containter>">
            <nav>
                <ul class="horizontal-list">
                    <li><a href="/">Home</a></li>
                    <li><a href="/bio">Bio</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/resume">Resume</a></li>
                </ul>
            </nav>
            </div>
    </header>
    <div id="checkers-board" class="board"></div>
    <div id="current-player" class="current-player">Current Player: Black</div>
        <py-script src="/static/scripts/checkers.py"></py-script>
        <py-script>
            initialize()
        </py-script> 
</body>
</html>
 