<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TylerChapp.com</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="icon" href="/static/icons/favicon.ico" type="image/x-icon">
</head>
<body>
    <header class="header">
        <img src="/static/icons/logo.PNG" alt="Logo">
        <nav class="nav-container">
            <ul class="horizontal-list">
                <li><a href="/">Home</a></li>
                <li><a href="/bio">Bio</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/resume">Resume</a></li>
            </ul>            
        </nav>
    </header>
    <main>
        <section>
            <h1>Tyler Chapp</h1>
            <div class="profile-pic-container">
                <img class="profile-pic" src="/static/images/homepage_portrait.jpg" alt="Photo of Tyler Chapp">
            </div>
            <h2>Full-Stack Developer & Software Engineer</h2>
            <p class="intro-text">What can I build for you?</p>
        </section>
        
    </main>
</body>
</html>
