<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Projects</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/projects.css">
    <link rel="icon" type="image/x-icon" href="/static/icons/favicon.ico">
</head>
<body>
    <header class="header">
        <img src="/static/icons/logo.PNG" alt="Logo">
        <div class="nav-containter>">
            <nav>
                <ul class="horizontal-list">
                    <li><a href="/">Home</a></li>
                    <li><a href="/bio">Bio</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/resume">Resume</a></li>
                </ul>
            </nav>
            </div>
    </header>
    <h1>Projects</h1>
    <div class="checkers-container">
        <div class="checkers">
            <a href="/checkers" style="text-decoration: none; color: inherit;">
                <h2>Checkers</h2>
                <img src="/static/images/checkers.PNG" class="checkers-pic" alt="PyScript Checkers">
            </a>            
            <p>PyScript web-based checkers application. Only local 1v1 is supported at this time.</p>
        </div>
        
</body>
</html>
